h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
p {
    color: black;
}
label {
    color: black;
}
body {
    background-image: url('/src/routes/Zerfalta.JPG');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}
.form-container {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    margin: 1px auto;
    max-width: 600px;
    margin-left: 0;
    margin-right: auto;
}
.text-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: auto; /* Falls der Inhalt größer als die Box ist */
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%; /* Volle Breite */
    box-sizing: border-box; /* Berücksichtigt Padding und Border in der Breite */
    border-bottom: 2px solid black; /* Rahmen unten */
    display: flex;
    align-items: center; /* Zentriert das Logo vertikal */
    justify-content: flex-start; /* Logo und Links nach links ausrichten */
}

nav .logo {
    height: 50px; /* Höhe des Logos */
    margin-right: 20px; /* Abstand zwischen Logo und Links */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white; /* Färbt die Menüpunkte weiß */
    text-decoration: none;
    font-weight: bold; /* Setzt die Schrift auf fett */
    background-color: #444; /* Hintergrundfarbe der Buttons */
    padding: 10px 20px; /* Innenabstand der Buttons */
    border-radius: 5px; /* Abgerundete Ecken */
    border: 1px solid #555; /* Rahmen der Buttons */
    transition: background-color 0.3s; /* Übergangseffekt bei Hover */
    margin: 0 15px; /* Abstand zwischen den Links */
}

nav a:hover {
    background-color: #555; /* Hintergrundfarbe bei Hover */
    text-decoration: none; /* Entfernt die Unterstreichung bei Hover */
}

/* Media Queries für mobile Geräte */
@media (max-width: 768px) {
    nav {
        flex-direction: row; /* Elemente nebeneinander anordnen */
        align-items: center;
        padding: 5px 10px; /* Weniger Polsterung für mobile Geräte */
    }

    nav .logo {
        height: 30px; /* Höhe des Logos für mobile Geräte */
        margin-right: 10px; /* Weniger Abstand zwischen Logo und Links */
    }

    nav ul {
        flex-direction: row; /* Links nebeneinander anordnen */
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: 0 5px; /* Weniger Abstand zwischen den Links */
    }

    nav a {
        padding: 5px 10px; /* Weniger Polsterung für mobile Geräte */
        font-size: 14px; /* Kleinere Schriftgröße für mobile Geräte */
    }

    .text-box {
        width: 90%;
        height: auto;
        margin: 20px auto; /* Zentriert die Textbox auf mobilen Geräten */
    }
}